<% provide :title, 'Sign up' %>
<h1>Sign up</h1>
<p>
  <div id="container_slider">Show form to create user</div>
  <div id="container" class="row" style="display: none">
    <br>
    <div id="signup" class="span6 offset3" ">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit 'Create my account', class: 'btn btn-large btn-primary' %>

      <% end %>
    </div>
  </div>
</p>